extends layout

block content
  .menu
    .nav
      a(href='/cat=Schemes&page=0')
        if title == 'SCHEMES'
          button.menuBtn.currentSub(type='submit') Schemes
        else

          button.menuBtn(type='submit') Schemes
      a(href='/cat=Party&page=0')
        if title == 'PARTY'
          button.menuBtn.currentSub(type='submit') Party
        else

          button.menuBtn(type='submit') Party
      a(href='/cat=Tech&page=0')
        if title == 'TECH'
          button.menuBtn.currentSub(type='submit') Tech
        else

          button.menuBtn(type='submit') Tech
      a(href='/cat=Videogames&page=0')
        if title == 'VIDEOGAMES'
          button.menuBtn.currentSub(type='submit') Video games
        else

          button.menuBtn(type='submit') Video games
    .fill
    .newThreadDiv
      -blah = '/newThread&'+title
      a(href=blah)
        button.menuBtn.newThread(type='submit') New Thread

  .table
    br
    table
      thead
        tr
          th User
          th Title
          th Comments
          th Views
          th Last modified
      tbody
        each thread in threads
          -id = '/threadid=' + thread.id + '&page=0'
          tr
            td= thread.name
            td
              a(href=id)= thread.title
            td= thread.comnum
            td= thread.views

            td= thread.mdate

  br

  -id1 = '/'
  if title == 'Schemes'
    -id1 = '/cat=Schemes&'
  if title == 'Party'
    -id1 = '/cat=Party&'
  if title == 'Tech'
    -id1 = '/cat=Tech&'
  if title == 'Videogames'
    -id1 = '/cat=Videogames&'

  //- if page < 5
  //-   -n = 0
  //-   -max = page + 2
  //- else if page < Pnum - 4
  //-   -n = page - 3
  //-   -max = Pnum
  //- else
  //-
  //-   -n = page - 2
  -n = 0
  nav
    while n < Pnum
      -x = n + 1
      -id = id1 + 'page=' + n
      if n == page
        li
          p= n + 1
      else

        li
          a(href=(id))= x
      -n = n + 1
  br
