extends pages

block content
  .table
    br
    table
      thead
        tr
          if title == 'Front'
            th
              button Category
          th
            form(method='get' action='/sort=name&page=0')
              button.btn(type='submit') User
          th
            form(method='get' action='/sort=title&page=0')
              button.btn(type='submit') Title
          th
            form(method='get' action='/sort=comnum&page=0')
              button.btn(type='submit') Comments
          th
            form(method='get' action='/sort=views&page=0')
              button.btn(type='submit') Views
          th
            form(method='get' action='/sort=mdate&page=0')
              button.btn(type='submit') Last Modified
      tbody
        each thread in threads
          tr
            if title == 'Front'
              td= thread.sub
            td= thread.name
            -id = '/threadid=' + JSON.stringify(thread.id) + '&page=0'
            td
              a(href=id)= thread.title
            td= thread.comnum
            td= thread.views
            -date = '' + thread.mdate
            -date = date.slice(0,-18)
            td= date

  br
