extends pages

block content
  .menu
    .nav
      a(href='/cat=Schemes&sort=mdate&page=0')
        if title == 'Schemes'
          button.menuBtn.currentSub(type='submit') Schemes
        else

          button.menuBtn(type='submit') Schemes
      a(href='/cat=Party&sort=mdate&page=0')
        if title == 'Party'
          button.menuBtn.currentSub(type='submit') Party
        else

          button.menuBtn(type='submit') Party
      a(href='/cat=Tech&sort=mdate&page=0')
        if title == 'Tech'
          button.menuBtn.currentSub(type='submit') Tech
        else

          button.menuBtn(type='submit') Tech
      a(href='/cat=Videogames&sort=mdate&page=0')
        if title == 'Videogames'
          button.menuBtn.currentSub(type='submit') Video games
        else

          button.menuBtn(type='submit') Video games


    .newThreadDiv
      -blah = '/newThread&'+title
      a(href=blah)
        button.menuBtn.newThread(type='submit') New Thread

    .image
      label(for='toggle-1')
      input(type='checkbox', id='toggle-1')
      .search
        form(method = 'post' action = '/search=')
          select.select(name = 'type')
            option(value = 'all' selected) All
            option(value = 'name') Usernames
            option(value = 'title') Title
            option(value = 'paragraph') Text
            input.searchbar(
              type = 'text'
              name = 'search'
              pattern = '.{2,64}'
              required title = 'must be 2-64 characters'
              )
            input(
              type = 'submit'
              style = 'visibility: hidden;'
              )

  //- .menuFade

  .table
    br
    table
      thead
        tr
          if title == 'Front'
            th Category
          th User
          th Title
          th Comments
          th Views
          th Last modified
      tbody
        each thread in threads
          tr
            if title == 'Front'
              td= thread.sub
            td= thread.name
            -id = '/threadid=' + JSON.stringify(thread.id) + '&page=0'
            td
              a(href=id)= thread.title
            td= thread.comnum
            td= thread.views
            -date = '' + thread.mdate
            -date = date.slice(0,-18)
            td= date

  br
