extends layout

block content
  .menu
    a(href='/cat=Schemes')
      if title == 'Schemes'
        button.menuBtn.currentSub(type='submit') Schemes
      else

        button.menuBtn(type='submit') Schemes
    a(href='/cat=Party')
      if title == 'Party'
        button.menuBtn.currentSub(type='submit') Party
      else

        button.menuBtn(type='submit') Party
    a(href='/cat=Tech')
      if title == 'Tech'
        button.menuBtn.currentSub(type='submit') Tech
      else

        button.menuBtn(type='submit') Tech
    a(href='/cat=Videogames')
      if title == 'Videogames'
        button.menuBtn.currentSub(type='submit') Video games
      else

        button.menuBtn(type='submit') Video games

  .menuFill

  .newThreadDiv
    -blah = '/newThread&'+title
    a(href=blah)
      button.menuBtn.newThread(type='submit') New Thread

  .table
    br
    table
      thead
        tr
          th User
          th Title
          th Comments
          th Views
          th Last modified
      tbody
        each thread in threads
          -id = '/threadid=' + thread.id + '&page=0'
          tr
            td= thread.name
            td
              a(href=id)= thread.title
            td= thread.comnum
            td= thread.views
            script(type='text/javascript').
              const x = thread.mdate;
              const re = /[+]/;
              let mdate = x.split(re);
              mdate = mdate[0]
            td= mdate

  br

  -n=0
  nav
    while n < Pnum
      -x = n + 1
      -id = '/page=' + n
      if n == page - 1
        li
          p= page
      else

        li
          a(href=(id))= x
      -n = n + 1
  br
