extends pages

block content
  .table
    br
    table
      thead
        tr.thead
          if title == 'Front'
            th
              button.noClick Category
          th
            form(method='get' action='/sort=name&page=0')
              button.btn(type='submit') User
          th
            form(method='get' action='/sort=title&page=0')
              button.btn(type='submit') Title
          th
            form(method='get' action='/sort=comnum&page=0')
              button.btn(type='submit') Comments
          th
            form(method='get' action='/sort=views&page=0')
              button.btn(type='submit') Views
          th
            form(method='get' action='/sort=mdate&page=0')
              button.btn(type='submit') Last Modified
      tbody
        -i = 0
        each thread in threads
          -id = '/threadid=' + JSON.stringify(thread.id) + '&page=0'
          if i == 0
            - i++
            tr.colorRow
              if title == 'Front'
                td
                  form(method='get' action=id)
                    button.sub(type='submit')= thread.sub
              td
                form(method='get' action=id)
                  button.name(type='submit')= thread.name
              td
                form(method='get' action=id)
                  button.title(type='submit')= thread.title
              td
                form(method='get' action=id)
                  button.comnum(type='submit')= thread.comnum
              td
                form(method='get' action=id)
                  button.views(type='submit')= thread.views
              -date = '' + thread.mdate
              -date = date.slice(0,-18)
              td
                form(method='get' action=id)
                  button.mdate(type='submit')= date
          else

            - i--
            tr
              if title == 'Front'
                td
                  form(method='get' action=id)
                    button.sub(type='submit')= thread.sub
              td
                form(method='get' action=id)
                  button.name(type='submit')= thread.name
              td
                form(method='get' action=id)
                  button.title(type='submit')= thread.title
              td
                form(method='get' action=id)
                  button.comnum(type='submit')= thread.comnum
              td
                form(method='get' action=id)
                  button.views(type='submit')= thread.views
              -date = '' + thread.mdate
              -date = date.slice(0,-18)
              td
                form(method='get' action=id)
                  button.mdate(type='submit')= date

  br
