extends layout

block content
  h1 New Thread

  form(method='post' action='/')
    div
      input(
        type='text'
        name='name'
        placeholder='Anonymus'
        pattern='.{2,64}'
        required title='must be 2-64 characters'
      )
    div
      input(
        type='text'
        name='title'
        placeholder='Title'
        pattern='.{3,50}'
        required title='must be 2-100 characters'
      )
    div
      textarea(
        lang='is'
        type='text'
        name='paragraph'
        rows='10'
        cols='30'
        pattern='.{3,10000}'
        required title='must be 3-10000 characters'
      )
    div
      p Category:
      select(name='sub')
        option(value='Schemes') Schemes
        option(value='Party') Party
        option(value='Tech') Tech
        option(value='Videogames') Videogames
    div
      button(type='submit') Express yourself
