extends menu

block content
  div.newThread
    h1.center New Thread

    form(method='post' action='/newthread')
      div
        input.post.newThread-name(
          type='text'
          name='name'
          placeholder='Username'
          pattern='.{2,64}'
          required title='must be 2-64 characters'
        )
      br
      div
        input.post.newThread-title(
          type='text'
          name='title'
          placeholder='Title'
          pattern='.{3,50}'
          required title='must be 2-100 characters'
        )
      br
      div
        textarea.post.newThread-text(
          lang='is'
          type='text'
          name='paragraph'
          rows='15'
          cols='30'
          pattern='.{3,10000}'
          required title='must be 3-10000 characters'
        )
      div
        p.select Category:
        select.post.select(name='sub')
          if (sel==1)
            option(value='Schemes' selected) Schemes
          else

            option(value='Schemes') Schemes
          if (sel==2)
            option(value='Party' selected) Party
          else

            option(value='Party') Party
          if (sel==3)
            option(value='Tech' selected) Tech
          else

            option(value='Tech') Tech
          if (sel==4)
            option(value='Videogames' selected) Videogames
          else

            option(value='Videogames') Videogames
      br
      div
        button.btn(type='submit') Express yourself
