extends layout

block content
  h1= searched
  hr
  each result in results
    p= result.name + ' ' + result.date
    p= result.title
    p= result.paragraph
  hr
  extends pages
  nav
    while n < Pnum
      -x = n + 1
      -id = '/threadid=' + JSON.stringify(thread.id)
      -id = id + '&page=' + n
      if n == page
        li
          p= page + 1
      else

        li
          a(href=(id))= x
      -n = n + 1
  br
