extends pages

block content
  h1 Search results for: !{searched}.
  hr
  .table
    table.searched
      tboddy
        - i = 0
        each result in results
          -id = '/threadid=' + JSON.stringify(result.threadid) + '&page=0'
          -date = '' + result.date
          -date = date.slice(0,-18)
          if i == 0
            - i++
            tr.colorRow
              td.searched
                form(method='get' action=id)
                  button.searched.name(type='submit') !{result.name}
                  button.searched.date(type='submit') !{date}
              td.searched
                form(method='get' action=id)
                  button.searched.title(type='submit') !{result.title}
                  button.searched.para(type='submit') !{result.paragraph}
          else
            - i--
            tr
              td.searched
                form(method='get' action=id)
                  button.searched.name(type='submit') !{result.name}
                  button.searched.date(type='submit') !{date}
              td.searched
                form(method='get' action=id)
                  button.searched.title(type='submit') !{result.title}
                  button.searched.para(type='submit') !{result.paragraph}
