extends pages

block content
  h1 Search results for: !{searched}.
  hr
  table.search
    tboddy
      each result in results
        tr
          td.search1
            h2= result.name
            p= result.date
          td.search2
            h1= result.title
            p !{result.paragraph}
