extends pages

block content
  .thread
    h1.thread-title= title

    -x = 0
    .table
      table.searched
        tbody
          - i = 0
          each result in comments
            -id = '/threadid=' + JSON.stringify(result.threadid) + '&page=0'
            -date = '' + result.date
            -date = date.slice(0,-18)
            if i == 0
              - i++
              tr.colorRow
                td.searched.eitt
                  div.searched.name
                    button.searched.name.noClick2 !{result.name}
                  div.searched.date
                    button.searched.date.noClick2 !{date}
                td.searched.tvo
                  div.thread.para
                    button.thread.para.noClick2 !{result.paragraph}
            else
              - i--
              tr
                td.searched.eitt
                  div.searched.name
                    button.searched.name.noClick2 !{result.name}
                  div.searched.date
                    button.searched.date.noClick2 !{date}
                td.searched.tvo
                  form.thread.para
                    button.thread.para.noClick2 !{result.paragraph}
      //-
      //- each comment in comments
      //-   if page == 0 & x == 0
      //-     h3.OPname= comment.name
      //-     div.OP
      //-       p.OPtext !{comment.paragraph}
      //-       -x = 1
      //-   else
      //-
      //-     div.comment
      //-     p.username
      //-       strong= comment.name
      //-     p.text !{comment.paragraph}

        hr
    br

    -id = '/threadid=' + threadid
    -id = id + '&page=' + page


block comment
  .comment
    h3 Leave a comment below
    form(method='post' action=id)
      div
        input.post(
          type='text'
          name='name'
          placeholder='Username'
          pattern='.{2,64}'
          required title='must be 2-64 characters'
        )
      div
        textarea.post(
          lang='is'
          type='text'
          name='paragraph'
          rows='10'
          cols='30'
          pattern='.{3,10000}'
          required title='must be 3-10000 characters'
        )
      div
        button.btn(type='submit') Comment
