extends pages

block content
  h1.title= title

  div.comments
    -x = 0
    each comment in comments
      if page == 0 & x == 0
        h3.OPname= comment.name
        div.OP
          p.OPtext= comment.paragraph
          -x = 1
      else

        div.comment
        p.username
          strong= comment.name
        p.text= comment.paragraph

      hr
  br

  -id = '/threadid=' + threadid
  -id = id + '&page=' + page


block comment
  h3 Leave a comment below
  form(method='post' action=id)
    div
      input.post(
        type='text'
        name='name'
        placeholder='Username'
        pattern='.{2,64}'
        required title='must be 2-64 characters'
      )
    div
      textarea.post(
        lang='is'
        type='text'
        name='paragraph'
        rows='10'
        cols='30'
        pattern='.{3,10000}'
        required title='must be 3-10000 characters'
      )
    div
      button.btn(type='submit') Comment
